@{
//ViewBag.Title = "Descripción";
    }
    @*<h2>@ViewBag.Title</h2>*@

<head>
    <style>
        .heading {
            color: black;
            text-align: center
        }
    </style>
</head>
<body>
    <h1 class="heading">Descripción del Servicio de Anatomia Patológica </h1>

    @*<h3>@ViewBag.Message</h3>*@

    <p>
        Las biopsias recepcionadas desde el centro quirúrgico del Hospital Posadas, tiene como destino el servicio de anatomia patológica interno del mismo centro de salud.
        En esta área se procesan las muestras segun dos métodos, los cuales pueden ser por Congelación o diferido.

    </p>

    <p>

        El metodo de congelación, consiste en el examen y emisión del diagnóstico durante el mismo acto quirúrgico o a la brevedad.Se emplea para definir la naturaleza (benigna o maligna)
        de una lesión, determinar el estado de los márgenes quirúrgicos (presencia de células cancerosas en los bordes de la muestra de tejido), y establecer si el material extraído es
        adecuado para el examen posterior.

    </p>
    <p>

        La muestra se congela para luego ser cortada y examinada en el microscopio.

    </p>


    <p>

        El médico tiene apenas 20 a 30 minutos para emitir su opinión después de examinar un tejido procesado.
        El resultado de la biopsia intraoperatoria influye en la conducta terapéutica a seguir. Por ejemplo, en el caso de un diagnóstico de malignidad el cirujano puede hacer una cirugía
        ampliada.


    </p>
    <p>
        El método diferido consiste en el procesamiento de un espécimen de tejido desde que llega a la Unidad de Anatomía Patológica, hasta la obtención de un diagnóstico histopatológico,
        expresado en un informe de biopsia por escrito, que puede demorar entre 20 a 30 dias.
    </p>

    <p>
        Las muestras deben ser fijadas con un liquido corrosivo y altamente toxico llamado formol.
    </p>

    <p>
        En el Hospital propiamente, las muestras llevan un número de protocolo, único para cada paciente, para su identificación exclusiva.
    </p>

    <p>
        Es de vital importancia el resultado de este analisis, el cual nos informa, si la patologia que padece el paciente es benigna o maligna, y desde alli resolver la conducta y/o
        tratamiento a seguir.
    </p>


    <p>
        En cuanto a lo que respecta a las piezas de anatomia patológica, estas provienen de los pacientes del centro quirúrgico, y pueden ser enviadas a la subárea de anatomia patológica-morgue,
        para su posterior estudio por medio de la disección (apertura), o puede ser enviada para su cremación por estar invadida por algún tipo de patologia maligna, de riesgo para el profesional
        médico.

    </p>




</body>

<head>
    <style>
        body {
            background-color: blanchedalmond
        }
    </style>
</head>
<body>
</body>


<head>
    <style>
        body {
            text-align: justify
        }
    </style>
</head>
<body>
</body>



<head>
    <style>
        body {
            font-size: larger
        }
    </style>
</head>
<body>
</body>


