@{
    ViewBag.Title = "Datos de Contacto";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>

    Dalila Micaela Palacios<br />

    Instituto Terciario ESBA  <br />

    Programación Visual<br />

    Villa Urquiza, CABA<br />

    05 de Agosto de 2021<br />




    </body>

    <head>
        <style>
            body {
                background-color: blanchedalmond
            }
        </style>
    </head>
    <body>
    </body>

    <head>
        <style>
            body {
                text-align: justify
            }
        </style>
    </head>
    <body>
    </body>



    <head>
        <style>
            body {
                font-size: larger
            }
        </style>
    </head>
    <body>
    </body>



    @*<abbr title="Phone">P:</abbr>*@

</address>

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@